@charset "UTF-8";
/* CSS Document */
body {
	background-color: #FFFFFF; 
	color: #070707; 
	font-family: 'myriad pro', sans-serif;
	font-size: 20px;
	
}
header {padding-top: 3px; text-align: right;  font-size: 20px }
header img {width: 20px; align-content: left}
nav{border-bottom: 3px solid #070707; padding: 5px}
nav a {color: #070707 } 
span {margin-right: 35px}
div h1 {margin-top: 480px}
#icono {padding-right: 650px; width: 4%}

footer {bottom: 0;text-align: left; position: fixed; font-size: 20px; width: 100%; float: bottom;} 



/*Home*/
#homeimg {width: 100%; height: 700px}
#minimalismoimg {display: flex ;width: 30%; float: right; padding-left: 950px; padding-top: 50px}

/*Historia*/
#historiaimg {padding-left: 460px; padding-top: 0px}
iframe  {margin: 1% 1% 1% 1%; padding-left: 150px; width: 80%; padding-bottom: 40px;}

/*Filosofia*/
.filosofia {padding-left: 650px; padding-top: 150px}
#textofilosofia {text-align: justify;padding-right: 60px; font-size: 20px}
p {font-size: 20px}
#filosofiafoto {height: 600px; width: 500px; padding-left: 100px; position: absolute;}
#filosofiaimg {padding-left: 240px}


/*Artistas*/
#artistasimg {display: flex ;width: 120%; float: right; padding-left: 950px; padding-top: 0px}
.artistas {color: white; text-align: center; align-content: center; width: 100%; Margin: 0.5%; box-sizing: border-box;flex-flow: wrap; display: flex; justify-content: center; }
.artistas div { width: 20%; margin: 0.8%; box-sizing: border-box; position: relative; padding-top: 10px;}
.artistas img {width: 100%; align-content: center; background-color: black;}
.artistas p {position: absolute; top: 30%; width: 100%; text-align:left; display: none; color: black; font-size: 17px}
.artistas div:hover img {opacity: 0.1;}
.artistas div:hover p {display: block;} 

/*Obras y galeria*/
#obrasimg {display: flex ;width: 120%; float: right; padding-left: 950px; padding-top: 0px}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px, 0;
    margin-top: 40px;
    overflow: hidden;
}

.galeria a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5)
}



.galeria img{
    width: 100%;
    vertical-align: top;
    height: 280px;
    object-fit: cover;
    transition: transform 0.5s;
}


.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

}

.light-box img{
    width: 75vw;
    max-height: 70vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #DEDEDE;
    color: black;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next{
    display: block;
    background: #DEDEDE;
    color: black;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}


/*Formularios*/
.container-form {
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: space-around;
	
}


.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: #DEDEDE;
    text-align: center;
	border-radius: 15px;
}

.create-account {
    font-size: 30px;
	text-align: center;
}

.cuenta-gratis { margin-bottom: 20px;}

.formulario input {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background-color: #F0F0F0;
    border:white thin solid;
    text-align: left;
    padding: 4px;
	padding-left: 10px;
    font-size: 13px;
    color: white;
	border-radius: 15px;
	
}

.formulario input:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.formulario input[type="button"] {
   width: 50%;
	padding: 0.5rem 1rem;
	background-color: #787575;
	color: #fff;
	font-size: 15px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 15px;
	text-align: center;
}


.linkinicio 
{font-size: 15px;
margin-top:  10px;}

/*Contacto*/
#contactofoto {height: 700px; width: 600px;}

.container{
	padding-top: 100px;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 100px;
	
}

.contact-box{
	
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #DEDEDE;
	border-radius: 15px;
}

.left{
	background: url("imagenes/contactofoto.jpeg") no-repeat center;
	background-size: cover;
	height: 100%;
	border-radius: 15px;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}


.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: #F0F0F0;
	font-size: 16px;
	margin-bottom: 22px;
	border-radius: 15px;
	padding-left: 5px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #787575;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 15px;
}

.btn:hover{
    background-color: #585858;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}



